{% extends "pizzas/base.html" %}

{% block page_header %}
<div class="jumbotron">
    <hi class="display-3">Welcome to Dave's Pizzeria!</hi>

    <p class="lead">Our pizzas are as invisible as they are delicious! <br>
        Browse our menu now.</p>
</div>
{% endblock page_header %}

<!--
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>

{% if img_obj %}
<h3>Succesfully uploaded : {{img_obj.title}}</h3>
<img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
{% endif %}
-->